{# @copyright   Copyright (C) 2010-2024 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{% if aData.sError %}
	<p class="hilite">{{ aData.sError }}</p>
{% endif %}
{% if aData.sMessage %}
	<p>{{ aData.sMessage }}</p>
{% endif %}
