/*
 * CSS of the template page
 */

.ibo-mfa-login-text {
	font-size: var(--ibo-font-size-150);
	overflow-wrap: break-word;
}

.ibo-mfa--code-input {
	display: inline-block;
	width: auto;
	font-family: var(--ibo-font-family-monospace);
	font-size: var(--ibo-font-size-400);
	font-weight: var(--ibo-font-weight-600);
}

dt {
	font-size: var(--ibo-font-size-200);
	font-weight: var(--ibo-font-weight-400);
}

dd {
	font-size: var(--ibo-font-size-200);
}

.ibo-mfa--input {
	width: auto;
}

